<h2 mat-dialog-title>Asignación de permisos</h2>
<mat-dialog-content class="mat-typography">
  <table>
    <tr>
      <td>
        <p>Nombre</p>
      </td>
      <td>
        <p>Permisos</p>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <mat-select placeholder="Usuarios">
            <mat-option *ngFor="let user of users" [value]="user" >{{user.nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-select placeholder="Aplicaciones" [formControl]="usersfc" multiple>
            <mat-option *ngFor="let app of aplicaciones" [value]="app">{{app}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Fecha de Asignación">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" placeholder="Fecha de vencimiento">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <mat-select placeholder="Rol">
            <mat-option *ngFor="let rol of roles" [value]="rol">{{rol}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>