<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModalagregar">
        Agregar usuario
      </button>
      <div class="modal" id="myModalExito">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
              <div class="alert alert-success">
                <strong>Success!</strong> Indicates a successful or positive action.
              </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>

      <!-- The Modal  agregar-->
      <div class="modal" id="myModalagregar">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <h1>Llenar campos de usuario a agregar</h1>
              <table>
                <tr>
                  <td>
                    <p>Nombre:</p>
                  </td>
                  <td>
                    <input type="text" name="inombre" [(ngModel)]="user.nombre" placeholder="Nombre">
                  </td>
                  <td>
                    <p>Cedula:</p>
                  </td>
                  <td>
                    <input type="text" name="icedula" [(ngModel)]="user.cedula" placeholder="Cedula">
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>Primer apellido:</p>
                  </td>
                  <td>
                    <input type="text" name="iapellido1" [(ngModel)]="user.apellido1" placeholder="Primer apellido">
                  </td>
                  <td>
                    <p>Segundo apellido:</p>
                  </td>
                  <td>
                    <input type="text" name="iapellido2" [(ngModel)]="user.apellido2" placeholder="Segundo apellido">
                  </td>
                  
                </tr>
                <tr>
                  <td>
                    <p>Contraseña:</p>
                  </td>
                  <td>
                    <input type="text" name="icontraseña" [(ngModel)]="user.clave" placeholder="Contraseña">
                  </td>
                </tr>
              </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

              <button type="button" class="btn btn-success" (click)="AgregaUsuario()" data-dismiss="modal">Agregar usuario</button>
            </div>

          </div>
        </div>
      </div>

<!-- The Modal  agregar-->
<div class="modal" id="myModalmodificar">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <h1>Llenar campos de usuario a agregar</h1>
        <table>
          <tr>
            <td>
              <p>Nombre:</p>
            </td>
            <td>
              <input type="text" name="inombre" [(ngModel)]="user.nombre" placeholder="Nombre">
            </td>
            <td>
              <p>Cedula:</p>
            </td>
            <td>
              <input type="text" name="icedula" [(ngModel)]="user.cedula" placeholder="Cedula">
            </td>
          </tr>
          <tr>
            <td>
              <p>Primer apellido:</p>
            </td>
            <td>
              <input type="text" name="iapellido1" [(ngModel)]="user.apellido1" placeholder="Primer apellido">
            </td>
            <td>
              <p>Segundo apellido:</p>
            </td>
            <td>
              <input type="text" name="iapellido2" [(ngModel)]="user.apellido2" placeholder="Segundo apellido">
            </td>
            
          </tr>
          <tr>
            <td>
              <p>Contraseña:</p>
            </td>
            <td>
              <input type="text" name="icontraseña" [(ngModel)]="user.clave" placeholder="Contraseña">
            </td>
          </tr>
        </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

        <button type="button" class="btn btn-success" (click)="ModificarUsuario()" data-dismiss="modal">Modificar usuario</button>
      </div>

    </div>
  </div>
</div>

      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <td>
                <b>Nombre</b>
              </td>
              <td>
                <b>Cedula</b>
              </td>
              <td>
                <b>Primer apellido</b>
              </td>
              <td>
                <b>Segundo apellido</b>
              </td>
              <td>
                <b>Modificar Usuario</b>
              </td>
              <td>
                <b>Eliminar Usuario</b>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users  | paginate: { itemsPerPage:5 , currentPage: p }">
              <td>
                {{user.nombre}}
              </td>
              <td>
                {{user.cedula}}
              </td>
              <td>
                {{user.apellido1}}
              </td>
              <td>
                {{user.apellido2}}
              </td>
              <td>
                <button type="button" class="btn btn-primary btn-info" (click)="ModificaUser(user)" data-toggle="modal" data-target="#myModalmodificar">
                  Modificar Usuario
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-primary btn-danger" (click)="EliminaUser(user)" data-toggle="modal">
                  Eliminar Usuario
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" responsive="true"></pagination-controls>
      </div>
    </div>
  </div>