<div class="main-content">
  <div class="container-fluid">
      <div class="row">
      <input type="file" (change)="onFileChange($event)" multiple="false" />
      <button (click)="addRegistersbooks()">Agregar libros cargados en excel</button>


    
      <div class="table-responsive">
        <table class="table table-hover">
            <thead>
              <tr>
                      <th><input type="text" name="titulo" [(ngModel)]="filter.titulo" placeholder="Titulo"></th>
                      <th><input type="text" name="autor" [(ngModel)]="filter.autor" placeholder="Autor"></th>
                      <th><input type="number" name="ano" [(ngModel)]="filter.ano" [attr.min]="minYear" [attr.max]="[maxYear]" step="1" placeholder="Año"></th>
                      <th><input type="text" name="titulo" [(ngModel)]="filter.numeroInscripcion" placeholder="Numero de inscripcion"></th>
              </tr>
              <tr>
                  <td>
                      <b>Titulo</b>
                    </td>
                    <td>
                      <b>Autor</b>
                    </td>
                    <td>
                      <b>Año</b>
                    </td>
                    <td>
                      <b>Numero  de Clasificacion</b>
                    </td>
                    <td>
                      <b>Numero de Inscripcion</b>
                    </td>
                    <td>
                      <b>Precio</b>
                    </td>
                    <td>
                      <b>Procedencia</b>
                    </td>
                    <td>
                      <b>Bib</b>
                    </td>
              </tr>
            </thead> 
            <tbody>
                <tr *ngFor="let book of books  | bookfilter:filter | paginate: { itemsPerPage:5 , currentPage: p }">
                    <td>
                      {{book.titulo}}
                    </td>
                    <td>
                      {{book.autor}}
                    </td>
                    <td>
                      {{book.ano}}
                    </td>
                    <td>
                      {{book.numeroClasificacion}}
                    </td>
                    <td>
                      {{book.numeroInscripcion}}
                    </td>
                    <td>
                      {{book.precio}}
                    </td>
                    <td>
                      {{book.procedencia}}
                    </td>
                    <td>
                      {{book.bib}}
                    </td>
                  </tr>
            
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" responsive="true"></pagination-controls>
      </div>
    </div>
  </div>